/* base.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    padding: 0;
    padding-top: 30px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif; /* Changed font to Roboto */
}