form {
    margin-top: 50px;
}

.intro img,
.notes input[type="text"],
.notes textarea {
    max-width: 100%;
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
